<main class="main-section">
	<div class="container">
		<div class="searchCard">
			<h1>Search GitHub Users</h1>
			<p class="lead">Enter a username to fetch a user profile and repos</p>
			<input class="form-control" type="text" placeholder="GitHub Username..." id="searchUser">
		</div>
		<div id="profile"></div>
	</div>
</main>