<main class="main-section">
	<div class="card">
		<h2 class="task-title">Task List</h2>
		<div class="addTaskAlert">
			<p>Please Add Task</p>
		</div>
		<form id="task-form">
			<div class="form-group">
				<label for="task">New Task</label>
				<input type="text" name="task" class="task" id="task">

			</div>
			<a href="#" class="btn" id="submit">add task</a>
		</form>
	</div>
	<div class="card card-action">
		<h2 class="task-title">Find Tasks</h2>
		<div class="form-group">
			<label for="filter">Filter Task</label>
			<input type="text" name="filter" class="task" id="filter">

		</div>
		<ul class="collection">
		</ul>
		<a href="#" class="btn clear-tasks">Clear All</a>
	</div>



</main>