@import url('https://fonts.googleapis.com/css?family=Roboto');
//fonts
$roboto: 'Roboto',
Arial,
sans-serif;
//colors
$blue: #40BFBF;
$green: #70C247;
$yellow: #B4A63C;
$black: #081713;
$gray: #666;
$border-color: #ccc;