.btn {
	display: block;
	color: #fff;
	background: $blue;
	padding: 10px 10px;
	border: none;
	border-radius: 30px;
	text-align: center;
	cursor: pointer;
	outline: none;
	transition: all 0.55s ease;
	margin-top: 10px;
	font-size: 14px;
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, .3);

	&:hover {
		background-color: darken($blue, 10%);
		box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, .3);
	}

	&:active {
		background-color: darken($blue, 20%);
		box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, .3);
	}

	&:focus {
		background-color: darken($blue, 10%);
		box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, .3);
	}
}